<section class="page-header">
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark" >
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index" style="color: white">Accueil <span class="sr-only"></span></a>
      &nbsp&nbsp
      <a class="nav-item nav-link" href="recherche" style="color: white">Recherche</a>
      &nbsp&nbsp
      <a class="nav-item nav-link" href="enseignement" style="color: white">Enseignement</a>
      &nbsp&nbsp
      <a class="nav-item nav-link" href="vulgarisation" style="color: white">Vulgarisation</a>
      &nbsp&nbsp
      <a class="nav-item nav-link" href="sage" style="color: white">SageMath</a>
    </div>
  </div>
</nav>
<br>

  <h1 class="project-name">{{ site.title }}</h1>
  <nav class="navbar navbar-expand-lg navbar-light" style="color: white;">
      <a class="navbar-brand" href="#"></a>
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>
      </div>
    </nav>
</section>
